.services-info {
  color: #333;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap:24px;
  padding: 20px; 
  margin: 20px auto; 
  max-width: 1200px;
}
.service-block {
  background-color: #f7f9fc;
  margin: 0.50rem 0;
  padding: 1rem;
  border-radius: 8px;
}
.service-block:hover{
  transform: scale(1.02);
}
.service-block p {
  margin: 0.5rem 0;
}
.card{
    font-size: 18px;
    padding: 0 ;
    color: #37474F;
    line-height: 1.6;
    margin-bottom: 20px;
}

